.signup-container {
  display: grid;
  grid-template-columns: 460px;
  grid-template-rows: auto; //auto height for grid rows
  grid-gap: 20px; //sets gutter value
  justify-content: center; // centers grid horizontally
}

.box {
  background-color: $backgroundgray;
  color: $maintext;
  border-radius: 2px;
}
