.index-container h1 {
font-size: 36px;
margin-bottom: 36px;
}
.index-container p {
  line-height: 1.5;
  margin: 0.5rem;
}
.index-container ul {
  list-style-type: disc;
  padding: 5px 0;
  margin: 0 36px;
}
