$maintext: #222;
$lighttext: #444;
$linkbutton: #871423;
$buttontext: #fcfdff;
$backgroundgray: #eaebee;
$bordergray: #aba9aa;
$shadowval: 0px horizontal 1px vertical 3px blur 0px spread;
$shadowcolor: #4c4c4c;
